.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: #fff;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.dropdown-menu li {
    background: #5d5df5;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #4b4ac4;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-item {
    font-family: 'Signika Negative', sans-serif;
    background-color: #5d5df5;
    color: #fff;
    font-size: 1vw;
    padding: 16px;
    cursor: pointer;
    border: none;
}

.dropdown-item:hover {
    background-color: #4b4ac4;
  }

@media screen and (max-width: 768px) {
    header {
        background-color: #555;
        padding: 10px;
    }
}