.feed {
    height: 100vh;
    width: 100%;
    background-color: #f8f8fb;
    display: flex;
    padding-left: 4vw;
}

.feed-grid {
    margin-inline: 15%
}

Row {
    display: flex;
}

.feed-image {
    width: 100%;
    margin-block: 3vh;
}

.box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
  
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
  