.feed {
    height: 100%;
    width: 100%;
    background-color: #f8f8fb;
    display: flex;
    padding-left: 4vw;
    padding-top: 10vh;
}

.feed-grid {
    margin-inline: 15%;
}

Row {
    display: flex;
}

.feed-image {
    width: 100%;
    margin-block: 3vh;
}

.box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
  
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

@media screen and (max-width: 960px) {
    .feed {
        padding-left: 0;
        justify-content: center;
    }

    .feed-grid {
        margin-inline: 0;
        max-width: 520px;
    }
}