.nu-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(6, 6, 6, 0.05);
    padding-block-end: 10px;
}

.nu-card-title {
    padding-bottom: 5px;
}

.nu-title {
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
}