.searchbar {
    position: relative;
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.search-textfield {
    font-family: 'Signika Negative', sans-serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    min-width: 65px;
    width: 65%;
    background-color: #4b4ac4;
    color: #ffff;
    text-indent: 5%;
}

.search-textfield::placeholder {
    color: #6b6ae1;
}

.search-submit {
    padding: 10px 20px;
    background-color: #4b4ac4;
    color: #6b6ae1;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.search-submit:hover {
  color: #ffff;
}

@media screen and (max-width: 768px) {
  .searchbar {
    align-items: stretch;
    width: 100%;
    height: 5vh;
  }
}