.nav {
  background-color: #5d5df5;
  display: flex;
  align-items: center;
  min-height: 55px;
  height: 12vh;
}

.nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 12vh;
  width: 35vw;
}

.nav-secondary {
  display: flex;
  width: 65vw;
}

.logo {
  width: 20vh;
  padding: 15px;
}

.grid-icon {
  color: #7e7df9;
  margin-right: 15px;
}

.nav-button {
  position: relative;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1vw;
  height: 100%;
  width: 18vh;
  background-color: #5d5df5;
  color: #fff;
  border: none;
  padding: 25px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-caret {
  position: absolute;
  top: 37%;
  color: #fff;
}

.nav-button:hover {
  background-color: #4b4ac4;
}

.nav-login {
  font-family: 'Signika Negative', sans-serif;
  font-size: 17px;
  margin-left: auto;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 110px;
  background-color: #00d2e0;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-login:hover {
  background-color: #00939d;
}

@media screen and (max-width: 768px) {
  .header {
      background-color: #555;
      padding: 10px;
  }
}