.nav{
  position: fixed;
  background-color: #5d5df5;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 75px;
  height: 10vh;
  z-index: 5;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
  height: 100%;
}

.nav-container {
  position: relative;
  flex: 1;
  height: 100%;
  margin-inline:0;
}

.nav-logo {
  height: 80%;
  padding: 6px;
}

.nav-items {
  padding-left: 0;
}

.nav-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

.nav-login {
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-inline: 1%;
  width: 14%;
}

.nav-login-btn {
  font-family: 'Signika Negative', sans-serif;
  font-size: 1vw;
  justify-content: center;
  background-color: #00d2e0;
  color: #fff;
  width: 45%;
  min-width: 50px;
  height: 50%;
  border: none;
  border-radius: 10px;
}

.nav-login-btn:hover {
  background-color: #00939d;
}

.nav-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-logo {
    min-width: 300px;
    width: 40%;
  }

  .nav-container {
    display: none;
  }

  .nav-menu {
    display: contents;
    color: #ffff;
  }

  .nav-menu-btn {
    margin-right: 3vw;
  }

  .nav-container.active {
    display: flex;
    margin-right: 0;
    top: 100%;
    width: 100%;
  }

  .nav-rows {
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }

  .nav-search {
    grid-row: 1;
    width: 80%;
  }

  .nav-items {
    margin-block: 15px;
    width: 100%;
  }

  .nav-login {
    width: 100%;
  }

  .nav-login-btn {
    height: 6vh;
    width: 100%;
    border-radius: 0;
    font-size: 2vh;
  }
}