.user-details {
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 0.9vw;
}

.user-verified {
    color: #04a3ee;
    padding-left: 4px;
    font-size: large;
}

.user-pro {
    background-color: #5d5df5;
    width: fit-content;
    padding: 3px;
    border-radius: 5%;
    color: #ffff;
    font-size: 0.8vw;
}