.user-details {
    display: flex;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 0.9vw;
}

.user-verified {
    color: #04a3ee;
    padding-left: 4px;
    font-size: large;
}

.user-pro {
    margin-left: 3px;
}