.nav-buttons {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    gap: 10px;
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    min-width: 85px;
    font-size: 0.9vw;
    font-weight: bold;
    border: none;
    border-radius: 0;
    background-color: #5d5df5;
    color: #fff;
}

.nav-dropdown {
    text-indent: 25%;
}

.nav-button:hover {
    background-color: #4b4ac4;
}

.dropdown-caret {
    height: 1.4vw;
    margin-left: 20%;
    top: 45%;
}