.post-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(6, 6, 6, 0.05);
    padding-block-end: 10px;
}

.post-card-title {
    display: flex;
    padding-bottom: 5px;
}

.post-user-icon {
    width: 10%;
    height: 100%;
    margin-left: 2%;
}

.post-title {
    max-width: 80%;
    flex-shrink: 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 10px;
}

.user-details-container {
    float: left;
    margin-right: 5px;
    display: block;
}

.title-text {
    flex: 1;
    font-size: 0.91vw;
}