.post-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(6, 6, 6, 0.05);
    padding-block-end: 10px;
}

.post-card-title {
    display: flex;
    padding-bottom: 5px;
}

.post-user-icon {
    width: 10%;
    height: 100%;
}

.post-title-container {
    max-width: 80%;
    flex-shrink: 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2vh;
    margin-top: 4px;
    margin-left: 10px;
}

.user-details-container {
    float: left;
    margin-right: 5px;
    display: block;
}

.title-text {
    flex: 1;
    font-size: 0.91vw;
}

.post-date {
    font-size: 0.75vw;
}

.post-content {
    margin-inline: 4%;
    font-size: 0.85vw;
    padding-bottom: 5%;
    border-bottom: 2px solid #dddfe9;
}

.post-responses {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 0.8vw;
    font-weight: bold;
    gap: 2%;
}

.post-response {
    margin: 0;
}