.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: #5d5df5;
}

ul {
    /* To override user agent stylesheet */
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style: none;
}

.dropdown-menu li {
    background-color: #5d5df5;
    transition: background-color 0.3s;
}

.dropdown-menu li:hover {
    background-color: #4b4ac4;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-item {
    position: relative;
    font-family: 'Signika Negative', sans-serif;
    background-color: #5d5df5;
    color: #fff;
    font-size: 2vh;
    padding: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #4b4ac4;
}

@media screen and (max-width: 768px) {
    header {
        background-color: #555;
        padding: 10px;
    }

    .dropdown-item {
        font-size: 1.5vh;
    }
}